@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

.header {
  width: 100%;
  height: 6rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  background-color: #fff;
}
.header .header_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header_container a {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2em;
  cursor: pointer;
  color: #111;
}
.header .header_container .header_input {
  width: 35rem;
  height: 3rem;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-sizing: border-box;
  color: #111;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  transition: all 0.2s ease;
}
.header .header_container .header_input:focus {
  background-color: #d7d3fa;
}
.header .header_container .header_nav {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .header_container .header_nav .header_nav_user_btn {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.header .header_container .header_nav .header_nav_user_btn i {
  transform: scale(3);
  color: #111;
  transition: all 0.2s ease;
}

.sideBar {
  width: 20rem;
  height: calc(100vh - 6rem);
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
}
.sideBar .sideBar_container {
  width: 100%;
  height: 100%;
}
.sideBar .sideBar_container .sideBar_nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_filter_all_input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_filter_all_input_container p {
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_filter_all_input_container .only_all {
  pointer-events: none;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_filter_all_input_container .sideBar_nav_filter_all_input {
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_filter_all_input_container .sideBar_nav_filter_all_input::before {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_filter_all_input_container .sideBar_nav_filter_all_input:checked::before {
  background-color: #111;
  border: 2px solid #111;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list h3 {
  color: #111;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 2rem;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list .sideBar_nav_list_item {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  cursor: pointer;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list .sideBar_nav_list_item p {
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list .sideBar_nav_list_item .filter_input {
  appearance: none;
  position: relative;
  display: flex;
  align-items: center;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list .sideBar_nav_list_item .filter_input::before {
  content: "";
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease;
}
.sideBar .sideBar_container .sideBar_nav .sideBar_nav_list .sideBar_nav_list_item .filter_input:checked::before {
  background-color: #111;
  border: 2px solid #111;
}

/*# sourceMappingURL=main.css.map */
