@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$white: #fff;
$black: #111;
$pirple_light: #d7d3fa;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    background-color: $white;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 6rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: $white;

    .header_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-family: "Bebas Neue", sans-serif;
            text-align: center;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.2em;
            cursor: pointer;
            color: $black;
        }

        .header_input {
            width: 35rem;
            height: 3rem;
            border: none;
            outline: none;
            background-color: #f1f1f1;
            border-radius: 10px;
            padding: 1rem 2rem;
            box-sizing: border-box;
            color: $black;
            font-size: 1em;
            font-family: "Roboto Condensed", sans-serif;
            transition: all .2s ease;

            &:focus {
                background-color: #d7d3fa;
            }
        }

        .header_nav {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 2.5rem;

            .header_nav_user_btn,
            .header_nav_basket_btn {
                width: fit-content;
                height: fit-content;
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;

            }

            .header_nav_user_btn {
                i {
                    transform: scale(3);
                    color: $black;
                    transition: all .2s ease;
                }
            }

            .header_nav_basket_btn {
                i {
                    transform: scale(2);
                    color: $black;
                    transition: all .2s ease;
                }
            }
        }
    }
}

.wrapper {
    width: 100%;
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
}

.sideBar {
    width: 20rem;
    height: 100%;
    background-color: $white;
    padding: 2rem;
    box-sizing: border-box;

    .sideBar_container {
        width: 100%;
        height: 100%;

        .sideBar_nav {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .sideBar_nav_filter_all_input_container {
                width: 100%;
                height: fit-content;
                display: flex;
                align-items: center;
                gap: 1rem;
                padding-left: 1rem;
                box-sizing: border-box;
                cursor: pointer;

                p {
                    font-family: "Roboto Condensed", sans-serif;
                    cursor: pointer;
                }

                .only_all {
                    pointer-events: none;
                }

                .sideBar_nav_filter_all_input {
                    appearance: none;
                    position: relative;
                    display: flex;
                    align-items: center;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        width: 18px;
                        height: 18px;
                        border: 2px solid #ccc;
                        border-radius: 4px;
                        transition: all .2s ease;
                    }


                    &:checked {
                        &::before {
                            background-color: $black;
                            border: 2px solid $black;
                        }
                    }

                }
            }

            .sideBar_nav_list {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;

                h3 {
                    color: $black;
                    font-family: "Roboto Condensed", sans-serif;
                    line-height: 2rem;
                }

                .sideBar_nav_list_item {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding-left: 1rem;
                    box-sizing: border-box;
                    cursor: pointer;

                    p {
                        font-family: "Roboto Condensed", sans-serif;
                        cursor: pointer;
                    }

                    .filter_input {
                        appearance: none;
                        position: relative;
                        display: flex;
                        align-items: center;

                        &::before {
                            content: '';
                            position: absolute;
                            left: 0;
                            width: 18px;
                            height: 18px;
                            border: 2px solid #ccc;
                            border-radius: 4px;
                            transition: all .2s ease;
                        }


                        &:checked {
                            &::before {
                                background-color: $black;
                                border: 2px solid $black;
                            }
                        }
                    }
                }
            }
        }
    }
}

.assortment {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    box-sizing: border-box;

    .assortment_container {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .assortment_products {
            position: absolute;
            overflow: scroll;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1rem;
            box-sizing: border-box;
            scrollbar-width: none;

            .assortment_product_card {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #eceaea;
                border-radius: 20px;
                padding: 1rem;
                gap: 1rem;
                box-sizing: border-box;

                .assortment_product_card_img {
                    width: 100%;
                    height: 15rem;
                    background-color: #d9d8d8;
                    border-radius: 10px;
                }

                .assortment_product_card_container {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    color: #111;
                    gap: 1rem;

                    h3 {
                        font-family: "Bebas Neue", sans-serif;
                        font-size: 1.5em;
                    }

                    p {
                        font-family: "Roboto Condensed", sans-serif;
                        font-size: 1.2em;

                    }
                }

                button {
                    width: 100%;
                    height: fit-content;
                    border: none;
                    cursor: pointer;
                    background-color: $pirple_light;
                    color: #111;
                    font-family: "Bebas Neue", sans-serif;
                    font-size: 1.8em;
                    padding: 1rem 2rem;
                    box-sizing: border-box;
                    border-radius: 10px;
                    transition: all .2s ease;

                    &:hover {
                        background-color: #ada6e6;
                        color: #fff;
                        box-shadow: 5px 5px #7d70de;
                        transform: translateY(-2px);
                    }

                    &:active {
                        transform: translateY(2px);
                        box-shadow: 3px 3px #7d70de;
                    }
                }
            }
        }
    }
}