@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

$white: #fff;
$black: #111;
$pirple_light: #d7d3fa;

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
    background-color: $white;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 6rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    background-color: $white;

    .header_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-family: "Bebas Neue", sans-serif;
            text-align: center;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.2em;
            cursor: pointer;
            color: $black;
        }

        .header_input {
            width: 35rem;
            height: 3rem;
            border: none;
            outline: none;
            background-color: #f1f1f1;
            border-radius: 10px;
            padding: 1rem 2rem;
            box-sizing: border-box;
            color: $black;
            font-size: 1em;
            font-family: "Roboto Condensed", sans-serif;
            transition: all .2s ease;

            &:focus {
                background-color: #d7d3fa;
            }
        }

        .header_nav {
            width: fit-content;
            height: 100%;
            display: flex;
            align-items: center;

            .header_nav_user_btn {
                width: fit-content;
                height: fit-content;
                cursor: pointer;
                background-color: transparent;
                border: none;
                outline: none;


                i {
                    transform: scale(3);
                    color: $black;
                    transition: all .2s ease;
                }
            }
        }
    }
}

.sideBar {
    width: 20rem;
    height: calc(100vh - 6rem);
    background-color: $white;
    padding: 2rem;
    box-sizing: border-box;

    .sideBar_container {
        width: 100%;
        height: 100%;

        .sideBar_nav {
            width: 100%;
            height: 100%;

            .sideBar_nav_list1 {
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 1rem;

                h3 {
                    color: $black;
                    font-family: "Roboto Condensed", sans-serif;
                    line-height: 2rem;
                }

                .sideBar_nav_list1_item {
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding-left: 1rem;
                    box-sizing: border-box;
                    cursor: pointer;

                    p {
                        font-family: "Roboto Condensed", sans-serif;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}